---
layout: page
title: Example
permalink: /example/
---

{% for def in site.data.core.v1 %}
    <h1>{{ def.name }}</h1>
    <blockquote>{{ def.description | markdownify }}</blockquote>
    <hr>
    {% for f in def.fields %}
        <h4>{{ f.python_name }}</h4>
        {% highlight python %}
        {{ f.annotation }}
        {% endhighlight %}
    {% endfor %}
{% endfor %}
